
body{
  /* background: rgb(255, 255, 255); */
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 47%, rgba(240, 240, 240, 1) 53%, rgba(65, 65, 65, 1) 92%, rgba(0, 0, 0, 1) 100%); */
  height: -webkit-fill-available;
}

.header{
  font-family: 'Sacramento', cursive;
    font-size: 60px;
    color: #666666b8;
}  

.calculator {
  border: solid .5px #666;
  border-radius: 13px;
  padding: 40px;
}

#display {
  /* margin: 0 3%; */
  border-radius: 3px;
  border: solid .5px #666;
  padding: 10px;
}

.btn-group {
  width: 100%;
  margin: 0 auto;
}

.btn-group > button {
  padding: 10px 20px;

}

.btn-number {
  border-color: #fff;
}